<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Andrew Rechnitzer
-->
{% extends "base/base.html" %}
{% block title %}
    Reset password for {{ username }}
{% endblock title %}
{% block page_heading %}
    Reset password for {{ username }}
{% endblock page_heading %}
{% block main_content %}
    <div class="card w-75">
        <div class="card-body m-2">
            <p>Note - the password will not be changed until the link below is used.</p>
            <ul>
                <li>
                    <button class="btn btn-primary my-2"
                            onclick="navigator.clipboard.writeText('{{ link }}'); alert('Copied link to clipboard')">
                        {{ link }}
                        <icon class="bi bi-clipboard2-plus"></icon>
                    </button>
                    Click to copy
                </li>
                <li>
                    <a href="{{ link }}" class="btn btn-secondary my-2" target="_">open in new tab</a> - if user wants to change right now
                </li>
            </ul>
        </div>
    </div>
    <a href="{% url 'users' %}" class="btn btn-primary my-4">Return to users</a>
{% endblock main_content %}
