<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022 Brennen Chiu
    Copyright (C) 2022 Edith Coates
    Copyright (C) 2023 Colin B. Macdonald
    Copyright (C) 2023 Andrew Rechnitzer
-->
{% extends "base/base.html" %}
{% load humanize %}
{% block title %}
    User Management
{% endblock title %}
{% block page_heading %}
    User Management
{% endblock page_heading %}
{% block main_content %}
    <div class="card my-2">
        <div class="card-body">
            <a class="btn btn-success" href="{% url 'signup_single' %}">Create new users</a>
        </div>
    </div>
    <div class="card my-2">
        <div class="card-body">
            <h4 class="card-title">Markers</h4>
            <p>
                <a class="btn btn-success" href="{% url 'enableMarkers' %}">Enable Markers</a>
                <a class="btn btn-danger" href="{% url 'disableMarkers' %}">Disable Markers</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Online (web)</th>
                        <th>Online (client)</th>
                        <th>Last login</th>
                        <th>Progress</th>
                        <th>Lead Marker</th>
                        <th>Enable</th>
                        <th>Password</th>
                    </thead>
                    {% for user in markers %}
                        <tr>
                            <td>
                                {{ user.username }}
                                {% if user in lead_markers %}<i class="bi bi-bookmark-star text-primary"></i>{% endif %}
                            </td>
                            {% if user in request.online_now %}
                                <td class="bg-success-subtle">Online</td>
                            {% else %}
                                <td>Offline</td>
                            {% endif %}
                            {% if user.auth_token %}
                                <td class="bg-success-subtle">Online</td>
                            {% else %}
                                <td>Offline</td>
                            {% endif %}
                            <td>{{ user.last_login|naturaltime }}</td>
                            <td>
                                <a class="btn btn-info"
                                   href="{% url 'progress_task_annotation_filter' %}?username={{ user.username }}">
                                    view
                                </a>
                            </td>
                            <td>
                                {% if user in lead_markers %}
                                    <a class="btn btn-info"
                                       href="{% url 'toggleLeadMarker' user.username %}">demote</a>
                                {% else %}
                                    <a class="btn btn-warning"
                                       href="{% url 'toggleLeadMarker' user.username %}">promote</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.has_usable_password %}
                                    {% if user.is_active %}
                                        <button hx-post="{% url 'change_user_status' user.username %}"
                                                class="btn btn-danger">disable</button>
                                    {% else %}
                                        <button hx-post="{% url 'change_user_status' user.username %}"
                                                class="btn btn-success">enable</button>
                                    {% endif %}
                                {% else %}
                                    <button class="btn btn-warning disabled">no password set</button>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'reset_user_password' user.username %}"
                                   class="btn btn-danger">reset</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <p>
                Notes:
                <ul>
                    <li>
                        Promoting a marker to <q>lead marker</q> allows them to see more detailed information about progress and tasks
                    </li>
                    <li>Disabling a marker also logs them out and surrenders any outstanding tasks.</li>
                    <li>
                        If you wish to <q>force-logout</q> a user then click disable/enable twice in a row.
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <div class="card my-2">
        <div class="card-body">
            <h4 class="card-title">Scanners</h4>
            <p>
                <a class="btn btn-success" href="{% url 'enableScanners' %}">Enable Scanners</a>
                <a class="btn btn-danger" href="{% url 'disableScanners' %}">Disable Scanners</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Online</th>
                        <th>Last login</th>
                        <th>Enable</th>
                        <th>Password</th>
                    </thead>
                    {% for user in scanners %}
                        <tr>
                            <td>{{ user.username }}</td>
                            {% if user in request.online_now %}
                                <td class="bg-success-subtle">Online</td>
                            {% else %}
                                <td>Offline</td>
                            {% endif %}
                            <td>{{ user.last_login|naturaltime }}</td>
                            <td>
                                {% if user.has_usable_password %}
                                    {% if user.is_active %}
                                        <button hx-post="{% url 'change_user_status' user.username %}"
                                                class="btn btn-danger">disable</button>
                                    {% else %}
                                        <button hx-post="{% url 'change_user_status' user.username %}"
                                                class="btn btn-success">enable</button>
                                    {% endif %}
                                {% else %}
                                    <button class="btn btn-warning disabled">no password set</button>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'reset_user_password' user.username %}"
                                   class="btn btn-danger">reset</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="card my-2">
        <div class="card-body">
            <h4 class="card-title">Managers</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Online</th>
                        <th>Last login</th>
                        <th>Password</th>
                    </thead>
                    {% for user in managers %}
                        <tr>
                            <td>{{ user.username }}</td>
                            {% if user in request.online_now %}
                                <td class="bg-success-subtle">Online</td>
                            {% else %}
                                <td>Offline</td>
                            {% endif %}
                            <td>{{ user.last_login|naturaltime }}</td>
                            <td>
                                <!-- since this allows reset of manager - ask for confirmation -->
                                <a href="{% url 'reset_user_password' user.username %}"
                                   class="btn btn-danger"
                                   onclick="return confirm('This is a manager account - are you sure you wish to reset the password?')">reset</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock main_content %}
