<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Andrew Rechnitzer
    Copyright (C) 2023 Colin B. Macdonald
-->
<div style="height: 30vw;
            width: 30vw;
            justify-content: center;
            display:flex;
            align-items:center">
    <img class="shadow-sm"
         src="{% url 'progress_pushed_img' image_pk %}"
         style="max-height: 100%;
                max-width: 100%;
                transform: rotate({{ angle }}deg)" />
</div>
<div class="m-2">
    {% if page_info.page_type == 'fixed' %}
        <ul>
            <li>Paper: {{ page_info.paper_number }}</li>
            <li>Page: {{ page_info.page_number }}</li>
        </ul>
        <button class="btn btn-danger"
                hx-confirm="This will invalidate any existing marking of this question. Are you sure you wish to proceed?"
                hx-delete="{% url 'progress_pushed_img' image_pk %}">discard this fixed page image</button>
    {% elif page_info.page_type == 'mobile' %}
        <ul>
            <li>Paper: {{ page_info.paper_number }}</li>
            <li>Questions: {{ page_info.question_list }}</li>
        </ul>
        <button class="btn btn-danger"
                hx-confirm="This will invalidate any existing marking of this question. Are you sure you wish to proceed?"
                hx-delete="{% url 'progress_pushed_img' image_pk %}">discard this mobile page image</button>
    {% else %}
        <ul>
            <li>Discard</li>
            <li>{{ page_info.reason }}</li>
        </ul>
        <a href="{% url 'progress_reassign_discard' image_pk %}">
            <button class="btn btn-warning">reassign this discarded image</button>
        </a>
    {% endif %}
</div>
