<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022 Edith Coates
    Copyright (C) 2023 Colin B. Macdonald
-->
<script>document.getElementById("{{ test_paper }}_{{ index }}_button").click();</script>
<button type="button"
        data-bs-toggle="modal"
        data-bs-target="#pageModal{{ test_paper }}{{ index }}"
        id="{{ test_paper }}_{{ index }}_button"
        style="display: none"></button>
<div class="modal" id="pageModal{{ test_paper }}{{ index }}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Test {{ test_paper }}, page {{ index }}</h6>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{% url 'progress_scan_page_image' test_paper index %}"
                     class="w-100 thumbnail shadow-sm" />
            </div>
        </div>
    </div>
</div>
