<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Brennen Chiu
    Copyright (C) 2023 Andrew Rechnitzer
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% block title %}
    Manage bundle
{% endblock title %}
{% block page_heading %}
    Manage bundle
{% endblock page_heading %}
{% block main_content %}
    <div style="margin: 0px 0px 16px 2.5px">
        <a class="btn btn-success" href="{% url 'scan_home' %}">
            <i class="bi bi-chevron-left"></i>
            Return to upload
        </a>
    </div>
    <div class="container-xlg px-4 py-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <h5>
                            Bundle <q>{{ slug }}</q> summary
                        </h5>
                        <div class="alert {% if is_pushed %} alert-success {% else %} alert-info {% endif %}">
                            {% if is_pushed %}Pushed <i class="bi bi-check-circle text-success"></i>{% endif %}
                            <ul>
                                <li>{{ known_pages }} / {{ total_pages }} known pages</li>
                                {% if known_pages != total_pages %}
                                    <li>{{ unknown_pages }} unknown pages</li>
                                    <li>{{ extra_pages }} extra pages</li>
                                    <li>{{ discard_pages }} discard pages</li>
                                    <li>{{ error_pages }} error pages</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-8">
                        <h5>Bundle Contains:</h5>
                        {% for paper,pages in papers_pages_list %}
                            {% with pg=pages|dictsort:"order"|first %}
                                <a href="{% url 'scan_manage_bundle' timestamp pg.order %}">
                                    <button class="btn m-1 btn-outline-success" type="button">paper {{ paper }}</button>
                                </a>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xlg px-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Page images</h5>
                <div class="row">
                    {% for pg in pages %}
                        <div class="col-sm-auto py-1">
                            {% if pg.status == "known" %}
                                <div class="card m-1 text-center bg-success-subtle"
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     data-bs-title="paper-{{ pg.info.paper_number }}.{{ pg.info.page_number }}">
                                    {% include "Scan/fragments/bundle_thumbnail_container.html" %}
                                </div>
                            {% elif pg.status == "unknown" %}
                                <div class="card m-1 text-center bg-warning-subtle"
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     data-bs-title="Unknown page">
                                    {% include "Scan/fragments/bundle_thumbnail_container.html" %}
                                </div>
                            {% elif pg.status == "extra" %}
                                <div class="card m-1 text-center bg-info-subtle"
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     {% if pg.info.question_list %} data-bs-title="Extra page - {{ pg.info.paper_number }}.{{ pg.info.question_list }}" {% else %} data-bs-title="Extra page - no data" {% endif %}>
                                    {% include "Scan/fragments/bundle_thumbnail_container.html" %}
                                </div>
                            {% elif pg.status == "error" %}
                                <div class="card  m-1 text-center bg-danger-subtle"
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     data-bs-title="error: {{ pg.info.reason }}">
                                    {% include "Scan/fragments/bundle_thumbnail_container.html" %}
                                </div>
                            {% elif pg.status == "unread" %}
                                <div class="card m-1 text-center bg-dark-subtle"
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     data-bs-title="qr-unread">
                                    {% include "Scan/fragments/bundle_thumbnail_container.html" %}
                                </div>
                            {% elif pg.status == "discard" %}
                                <div class="card m-1 text-center bg-dark-subtle"
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     data-bs-title="discard: {{ pg.info.reason }}">
                                    {% include "Scan/fragments/bundle_thumbnail_container.html" %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
{% endblock main_content %}
