<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Brennen Chiu
    Copyright (C) 2023 Andrew Rechnitzer
    Copyright (C) 2023 Divy Patel
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% block title %}
    Manage bundle
{% endblock title %}
{% block page_heading %}
    Manage bundle
{% endblock page_heading %}
{% block main_content %}
    <div style="margin: 0px 0px 16px 2.5px">
        <a class="btn btn-success" href="{% url 'scan_home' %}">
            <i class="bi bi-chevron-left"></i>
            Return to upload
        </a>
        <a class="btn btn-info"
           href="{% url 'scan_bundle_thumbnails' timestamp %}">
            <i class="bi bi-chevron-left"></i>
            Return to thumbnails
        </a>
    </div>
    <div style="margin: 0px 0px 16px 2.5px">
        <div class="card w-75">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <h5>
                            Bundle <q>{{ slug }}</q> summary
                        </h5>
                        {% if is_pushed %}
                            <div class="alert alert-success">
                                Pushed <i class="bi bi-check-circle text-success"></i>
                            {% else %}
                                <div class="alert alert-info">
                                {% endif %}
                                <ul>
                                    <li>{{ known_pages }} / {{ total_pages }} known pages</li>
                                    {% if known_pages != total_pages %}
                                        <li>{{ unknown_pages }} unknown pages</li>
                                        <li>{{ extra_pages }} extra pages</li>
                                        <li>{{ discard_pages }} discard pages</li>
                                        <li>{{ error_pages }} error pages</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-8">
                            <h5>Bundle Contains:</h5>
                            {% for paper,pages in papers_pages_list %}
                                {% with pg=pages|dictsort:"order"|first %}
                                    <button class="btn m-1 btn-outline-success"
                                            type="button"
                                            onclick="this.blur();"
                                            hx-get="{% url 'scan_nav_bundle' timestamp pg.order %}"
                                            hx-swap="outerHTML"
                                            hx-target="#navFragment"
                                            hx-replace-url="{% url 'scan_manage_bundle' timestamp pg.order %}">
                                        paper {{ paper }}
                                    </button>
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="accord">
            <button class="btn btn-secondary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne">
                View pages <i class="bi bi-chevron-down"></i>
            </button>
            <button class="btn btn-secondary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="true"
                    aria-controls="collapseTwo">
                View valid pages <i class="bi bi-chevron-down"></i>
            </button>
            {% if unknown_pages or error_pages %}
                <button class="btn btn-secondary"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="true"
                        aria-controls="collapseThree">
                    View unknowns and errors <i class="bi bi-chevron-down"></i>
                </button>
            {% else %}
                <button class="btn btn-secondary"
                        disabled
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="true"
                        aria-controls="collapseThree">No errors or unknowns</button>
            {% endif %}
            <button class="btn btn-secondary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="true"
                    aria-controls="collapseFour">
                View pages in paper order <i class="bi bi-chevron-down"></i>
            </button>
            <div id="collapseOne"
                 class="accordion-collapse collapse"
                 data-bs-parent="#accord">
                <div class="card" style="width: 66%;">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-12 text-start">
                                {% for pg in pages %}
                                    {% if pg.status == 'known' %}
                                        <button class="btn m-1 btn-outline-success"
                                                onclick="this.blur();"
                                                hx-get="{% url 'scan_nav_bundle' timestamp forloop.counter %}"
                                                hx-swap="outerHTML"
                                                hx-target="#navFragment"
                                                hx-replace-url="{% url 'scan_manage_bundle' timestamp forloop.counter %}"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-title="paper-{{ pg.info.paper_number }}.{{ pg.info.page_number }}">
                                            p{{ pg.order }}
                                        </button>
                                    {% elif pg.status == 'extra' %}
                                        <button class="{% if pg.info.question_list %} btn m-1 btn-outline-info {% else %} btn m-1 btn-info {% endif %}"
                                                onclick="this.blur();"
                                                hx-get="{% url 'scan_nav_bundle' timestamp forloop.counter %}"
                                                hx-swap="outerHTML"
                                                hx-target="#navFragment"
                                                hx-replace-url="{% url 'scan_manage_bundle' timestamp forloop.counter %}"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                {% if pg.info.question_list %} data-bs-title="Extra page - {{ pg.info.paper_number }}.{{ pg.info.question_list }}" {% else %} data-bs-title="Extra page - no data" {% endif %}>
                                            p{{ pg.order }}
                                        </button>
                                    {% elif pg.status == 'unread' %}
                                        <button class="btn m-1 btn-outline-dark"
                                                onclick="this.blur();"
                                                hx-get="{% url 'scan_nav_bundle' timestamp forloop.counter %}"
                                                hx-swap="outerHTML"
                                                hx-target="#navFragment"
                                                hx-replace-url="{% url 'scan_manage_bundle' timestamp forloop.counter %}"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-title="qr-unread">p{{ pg.order }}</button>
                                    {% elif pg.status == 'unknown' %}
                                        <button class="btn m-1 btn-warning"
                                                onclick="this.blur();"
                                                hx-get="{% url 'scan_nav_bundle' timestamp forloop.counter %}"
                                                hx-swap="outerHTML"
                                                hx-target="#navFragment"
                                                hx-replace-url="{% url 'scan_manage_bundle' timestamp forloop.counter %}"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-title="Unknown page">p{{ pg.order }}</button>
                                    {% elif pg.status == 'error' %}
                                        <button class="btn m-1 btn-danger"
                                                onclick="this.blur();"
                                                hx-get="{% url 'scan_nav_bundle' timestamp forloop.counter %}"
                                                hx-swap="outerHTML"
                                                hx-target="#navFragment"
                                                hx-replace-url="{% url 'scan_manage_bundle' timestamp forloop.counter %}"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-title="error: {{ pg.info.reason }}">p{{ pg.order }}</button>
                                    {% elif pg.status == 'discard' %}
                                        <button class="btn m-1 btn-outline-dark"
                                                onclick="this.blur();"
                                                hx-get="{% url 'scan_nav_bundle' timestamp forloop.counter %}"
                                                hx-swap="outerHTML"
                                                hx-target="#navFragment"
                                                hx-replace-url="{% url 'scan_manage_bundle' timestamp forloop.counter0 %}"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-title="discard: {{ pg.info.reason }}">p{{ pg.order }}</button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseTwo"
                 class="accordion-collapse collapse"
                 data-bs-parent="#accord">
                <div class="card" style="width: 66%;">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-12 text-start">
                                {% for pg in pages %}
                                    {% if pg.status == 'known' %}
                                        <button class="btn m-1 btn-outline-success"
                                                onclick="this.blur();"
                                                hx-get="{% url 'scan_nav_bundle' timestamp forloop.counter %}"
                                                hx-swap="outerHTML"
                                                hx-target="#navFragment"
                                                hx-replace-url="{% url 'scan_manage_bundle' timestamp forloop.counter %}"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-title="paper-{{ pg.info.paper_number }}.{{ pg.info.page_number }}">
                                            p{{ pg.order }}
                                        </button>
                                    {% elif pg.status == 'extra' %}
                                        <button class="btn m-1 {% if pg.info.question_list %} btn-outline-info {% else %} btn-info {% endif %}"
                                                hx-get="{% url 'scan_nav_bundle' timestamp forloop.counter %}"
                                                hx-swap="outerHTML"
                                                hx-target="#navFragment"
                                                hx-replace-url="{% url 'scan_manage_bundle' timestamp forloop.counter %}"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                {% if pg.info.question_list %} data-bs-title="Extra page - {{ pg.info.paper_number }}.{{ pg.info.question_list }}" {% else %} data-bs-title="Extra page - no data" {% endif %}>
                                            p{{ pg.order }}
                                        </button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseThree"
                 class="accordion-collapse collapse"
                 data-bs-parent="#accord">
                <div class="card" style="width: 66%;">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-12 text-start">
                                {% for pg in pages %}
                                    {% if pg.status == 'unknown' %}
                                        <button class="btn m-1 btn-warning"
                                                onclick="this.blur();"
                                                hx-get="{% url 'scan_nav_bundle' timestamp forloop.counter %}"
                                                hx-swap="outerHTML"
                                                hx-target="#navFragment"
                                                hx-replace-url="{% url 'scan_manage_bundle' timestamp forloop.counter %}"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-title="Unknown page">p{{ pg.order }}</button>
                                    {% elif pg.status == 'error' %}
                                        <button class="btn m-1 btn-danger"
                                                onclick="this.blur();"
                                                hx-get="{% url 'scan_nav_bundle' timestamp forloop.counter %}"
                                                hx-swap="outerHTML"
                                                hx-target="#navFragment"
                                                hx-replace-url="{% url 'scan_manage_bundle' timestamp forloop.counter %}"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-title="error: {{ pg.info.reason }}">p{{ pg.order }}</button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseFour"
                 class="accordion-collapse collapse"
                 data-bs-parent="#accord">
                <div class="card" style="width: 66%;">
                    <div class="container">
                        <p>
                            Note that this only shows known and extra pages
                            <ul>
                                {% for paper,pages in papers_pages_list %}
                                    <li>
                                        Paper {{ paper }}:
                                        <!-- put known pages page-order first  -->
                                        {% for pg in pages|dictsort:"page" %}
                                            {% if pg.type == "known" %}
                                                <button class="btn m-1 btn-outline-success"
                                                        onclick="this.blur();"
                                                        hx-get="{% url 'scan_nav_bundle' timestamp pg.order %}"
                                                        hx-swap="outerHTML"
                                                        hx-target="#navFragment"
                                                        hx-replace-url="{% url 'scan_manage_bundle' timestamp pg.order %}">
                                                    {{ pg.page }}
                                                </button>
                                            {% endif %}
                                        {% endfor %}
                                        <!-- then extra page in bundle-order  -->
                                        {% for pg in pages|dictsort:"order" %}
                                            {% if pg.type == "extra" %}
                                                <button class="btn m-1 btn-outline-info"
                                                        onclick="this.blur();"
                                                        hx-get="{% url 'scan_nav_bundle' timestamp pg.order %}"
                                                        hx-swap="outerHTML"
                                                        hx-target="#navFragment"
                                                        hx-replace-url="{% url 'scan_manage_bundle' timestamp pg.order %}">
                                                    q{{ pg.question_list }}
                                                </button>
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container w-100 p-0 m-3"
             id="navFragment"
             hx-get="{% url 'scan_nav_bundle' timestamp index %}"
             hx-swap="outerHTML"
             hx-trigger="load"></div>
        <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

        </script>
    {% endblock main_content %}
