<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Brennen Chiu
    Copyright (C) 2023 Andrew Rechnitzer
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% block title %}
    Summary of pushed papers
{% endblock title %}
{% block page_heading %}
    Summary of pushed papers
{% endblock page_heading %}
{% block main_content %}
    <div style="margin: 0px 0px 16px 2.5px">
        <a class="btn btn-success" href="{% url 'scan_home' %}">
            <i class="bi bi-chevron-left"></i>
            Return to upload
        </a>
    </div>
    <div id="accord" class="w-100">
        <div class="card w-75">
            <div class="card-body">
                <h5>Summary of pushed papers:</h5>
                <div class="row">
                    <div class="col-6">
                        <p class="text-success">{{ complete_test_papers }} / {{ total_papers }} complete test papers</p>
                        {% if complete_test_papers == 0 %}
                            <p class="text-success">no complete papers</p>
                        {% else %}
                            <button class="btn btn-secondary"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne">
                                View complete <i class="bi bi-chevron-down"></i>
                            </button>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if incomplete_test_papers == 0 %}
                            <p class="text-success">all used papers complete</p>
                        {% else %}
                            <p class="text-danger">
                                <i class="bi bi-exclamation-diamond-fill text-danger"></i>
                                {{ incomplete_test_papers }} incomplete test paper(s)
                                <i class="bi bi-exclamation-diamond-fill text-danger"></i>
                            </p>
                            <button class="btn btn-secondary"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="true"
                                    aria-controls="collapseTwo">
                                View incomplete <i class="bi bi-chevron-down"></i>
                            </button>
                        {% endif %}
                    </div>
                    <div class="col">
                        <p class="text-secondary">{{ unused_test_papers }} / {{ total_papers }} unused test papers</p>
                        {% if unused_test_papers %}
                            <button class="btn btn-secondary"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="true"
                                    aria-controls="collapseThree">
                                View unused <i class="bi bi-chevron-down"></i>
                            </button>
                        {% else %}
                            <p class="text-success">all papers used</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div id="collapseOne"
             class="accordion-collapse collapse"
             data-bs-parent="#accord">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="overflow-auto" style="max-height:50vh;">
                                <table class="table table-striped table-sm">
                                    <tr>
                                        <th>Paper</th>
                                        <th>Fixed pages</th>
                                        <th>Mobile pages</th>
                                    </tr>
                                    {% for pn,pages in all_complete_list %}
                                        <tr>
                                            <td>{{ pn }}</td>
                                            <td>
                                                {% for fp in pages.fixed|dictsort:"page_number" %}
                                                    <button hx-get="pushed_img_wrap/{{ fp.img_pk }}"
                                                            hx-target="#imageHere"
                                                            hx-replace="innerHTML"
                                                            class="btn btn-outline-success">
                                                        {{ fp.page_number }}
                                                    </button>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for mp in pages.mobile|dictsort:"question_number" %}
                                                    <button hx-get="pushed_img_wrap/{{ mp.img_pk }}"
                                                            hx-target="#imageHere"
                                                            hx-replace="innerHTML"
                                                            class="btn btn-outline-info">
                                                        q.{{ mp.question_number }}
                                                    </button>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col p-2" id="pushedImageFragment">
                    <div style="height: 30vw;
                                width: 30vw;
                                justify-content: center;
                                display:flex;
                                align-items:center"
                         id="imageHere"></div>
                </div>
            </div>
        </div>
        <div id="collapseTwo"
             class="accordion-collapse collapse"
             data-bs-parent="#accord">
            <div class="row" x-data="{imgsrc: ''}">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="overflow-auto" style="max-height:50vh;">
                                <table class="table table-striped table-sm">
                                    <tr>
                                        <th>Paper</th>
                                        <th>Fixed pages</th>
                                        <th>Mobile pages</th>
                                    </tr>
                                    {% for pn,pages in all_incomplete_list %}
                                        <tr>
                                            <td>{{ pn }}</td>
                                            <td>
                                                {% for fp in pages.fixed|dictsort:"page_number" %}
                                                    {% if fp.img_pk %}
                                                        <button hx-get="pushed_img_wrap/{{ fp.img_pk }}"
                                                                hx-target="#incompleteImageHere"
                                                                hx-replace="innerHTML"
                                                                class="btn btn-outline-success">
                                                            {{ fp.page_number }}
                                                        </button>
                                                    {% else %}
                                                        <span class="badge m-1 p-3 fs-6 bg-danger"
                                                              data-bs-toggle="tooltip"
                                                              data-bs-placement="top"
                                                              data-bs-title="missing {{ pn }}.{{ fp.page_number }}">{{ fp.page_number }} </span>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for mp in pages.mobile|dictsort:"question_number" %}
                                                    <button hx-get="pushed_img_wrap/{{ mp.img_pk }}"
                                                            hx-target="#incompleteImageHere"
                                                            hx-replace="incompletInnerHTML"
                                                            class="btn btn-outline-info">
                                                        q.{{ mp.question_number }}
                                                    </button>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col p-2" id="pushedImageFragment">
                    <div style="height: 30vw;
                                width: 30vw;
                                justify-content: center;
                                display:flex;
                                align-items:center"
                         id="incompleteImageHere"></div>
                </div>
            </div>
        </div>
        <div id="collapseThree"
             class="accordion-collapse collapse"
             data-bs-parent="#accord">
            <div class="card w-75">
                <div class="card-body">
                    <div class="overflow-auto" style="max-height:50vh;">
                        {% for rng in all_unused_list %}<span class="badge m-1 p-3 fs-6 bg-secondary">{{ rng }}</span>{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
{% endblock main_content %}
