<!--
     SPDX-License-Identifier: AGPL-3.0-or-later
     Copyright (C) 2022 Edith Coates
     Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% block title %}
    Scan bundles
{% endblock title %}
{% block page_heading %}
    Scan bundles
{% endblock page_heading %}
{% block main_content %}
    <div class="d-flex justify-content-center">
        <!-- <div class="card text-center w-50" style="min-width: fit-content;">
        <div class="card-body">
            <h2 class="card-title m-4 mt-2">Uploading bundle</h2>
            <div class="spinner-border mb-3"></div>
            <p class="card-text">Rendering page P of Q...</p>
            <div class="progress">
                <div class="progress-bar" style="width: 10%"></div>
            </div>
        </div>
    </div> -->
        <div hx-get="{% url 'scan_image_update' timestamp %}" hx-trigger="load"></div>
    </div>
{% endblock main_content %}
