<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Brennen Chiu
    Copyright (C) 2023 Colin B. Macdonald
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Plom - Login</title>
        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
              rel="stylesheet" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
              rel="stylesheet" />
        <!-- MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css"
              rel="stylesheet" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet"
              type="text/css"
              href="{% static '/css/loginPage.css' %}">
    </head>
    <body>
        <section class="vh-100 gradient-custom login_box">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="login_card" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-3">
                                    <img style="width: 200px"
                                         src="{% static 'plomLogo.png' %}"
                                         alt="Plom Logo">
                                    <br>
                                    <br>
                                    <h3 class="fw-bold mb-2 text-uppercase">Login</h3>
                                    <p class="text-dark-50 mb-5">Please enter your login and password!</p>
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <div class="form-outline form-black mb-4">
                                            <input type="text" class="form-control form-control-lg" name="username" />
                                            <label class="form-label">Username</label>
                                        </div>
                                        <div class="form-outline form-black mb-4">
                                            <input type="password"
                                                   id="typePasswordX"
                                                   class="form-control form-control-lg"
                                                   name="password" />
                                            <label class="form-label" for="typePasswordX">Password</label>
                                        </div>
                                        <div class="medium mb-5 pb-lg-2">
                                            <input id="check-password" class="text-black-100" type="checkbox">
                                            Show Password
                                        </div>
                                        {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}">{% endif %}
                                        <button class="btn btn-outline-dark btn-lg px-5" type="submit">
                                            <span class="bi-box-arrow-in-right"></span>
                                            Login
                                        </button>
                                    </form>
                                    <br>
                                    {% for message in messages %}<p class="text-danger">{{ message }}</p>{% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
    <script type="module" src="{% static '/js/frontend_utils.js' %}"></script>
</html>
