<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022 Brennen Chiu
    Copyright (C) 2023 Colin B. Macdonald
    Copyright (C) 2023 Andrew Rechnitzer
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Plom - Set Password</title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        {#  Bootstrap 5.3.0 #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous">
        <!-- Bootstrap icons -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="navbar-brand" style="margin-left: 5px">
                <img src="{% static 'plomLogo.png' %}"
                     alt="Plom Logo"
                     height="70px"
                     width="230px" />
            </div>
        </nav>
        <div class="container">
            <div class="card m-4 p-4 bg-primary-subtle">
                <h2>
                    Set Password for <q>{{ username }}</q>
                </h2>
                <p>Please enter your new password below to log in to Plom.</p>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="grid w-50">
                        <div class="row">
                            <div class="col">{{ form.new_password1.label }}</div>
                            <div class="col">
                                {{ form.new_password1 }}
                                <icon class="bi-eye" id="togglePassword" style="cursor: pointer"></icon>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col">{{ form.new_password2.label }}</div>
                            <div class="col">{{ form.new_password2 }}</div>
                        </div>
                    </div>
                    <div>
                        Note that:
                        <ul>
                            {% for helptext in help_text %}<li>{{ helptext }}</li>{% endfor %}
                        </ul>
                    </div>
                    <button class="btn btn-primary" type="submit" name="Set Password">change password</button>
                </form>
            </div>
            {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
        </div>
        <script type="module" src="{% static '/js/frontend_utils.js' %}"></script>
    </body>
</html>
