<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022 Brennen Chiu
    Copyright (C) 2023 Colin B. Macdonald
    Copyright (C) 2023 Andrew Rechnitzer
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Plom - Set Password Complete</title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        {#  Bootstrap 5.3.0 #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="navbar-brand" style="margin-left: 5px">
                <img src="{% static 'plomLogo.png' %}"
                     alt="Plom Logo"
                     height="70px"
                     width="230px" />
            </div>
        </nav>
        <div class="container">
            <div class="card m-4 p-4 bg-primary-subtle">
                <h2>Password Set Complete</h2>
                <p>Your password has been set. Click on login to log in now.</p>
                <span>
                    <a class="btn btn-primary" href="{% url 'login' %}">Go to login page</a>
                    <a class="btn btn-secondary"
                       href="#"
                       onclick="window.close();return false;">close tab</a>
                </span>
            </div>
        </div>
    </body>
</html>
