<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Edith Coates
    Copyright (C) 2022-2023 Brennen Chiu
    Copyright (C) 2023 Colin B. Macdonald
    Copyright (C) 2023 Julian Lapenna
    Copyright (C) 2023 Andrew Rechnitzer
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.8.0"></script>
        <!-- Alpine -->
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <!-- Bootstrap stylesheet -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
        <!-- Bootstrap icons -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <!-- Sorttable by Stuart Langridge
            website = https://www.kryogenix.org/code/browser/sorttable/
            GitHub = https://github.com/stuartlangridge/sorttable -->
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <!-- Base stylesheet -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static '/css/profile.css' %}">
        <title>
            {% block full_title %}
                {% block title_prefix %}
                    Plom -
                {% endblock title_prefix %}
                {% block title %}
                {% endblock title %}
            {% endblock full_title %}
        </title>
    </head>
    <!-- Need the csrf token to enable htmx -->
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <!-- TODO: vh-100 is not quite right: if the page is very long, the sidebar does not extend -->
        <div class="container-fluid p-0 d-flex vh-100">
            <!-- TODO: style max width here stops the hamburger menu from popping up too wide: find better fix -->
            <div id="sidebar"
                 class="d-flex flex-column flex-shrink-0 p-2 shadow bg-{{ navbar_color }}-subtle text-start offcanvas-md offcanvas-start overflow-auto"
                 style="max-width: 13rem">
                <!-- Plom logo-->
                <a class="navbar-brand nav-link" href="{% url 'home' %}">
                    <img class="img-fluid"
                         src="{% static 'plomLogo.png' %}"
                         style="max-width: 8rem" />
                </a>
                {% block sidebar_content %}
                    {% include "base/sidebar.html" %}
                {% endblock sidebar_content %}
            </div>
            <!-- flex-fill here will go off the screen for very wide pages -->
            <div class="w-100">
                <div class="p-2 d-md-none shadow bg-{{ navbar_color }}-subtle d-flex">
                    <a class="navbar-brand nav-link" href="{% url 'home' %}">
                        <img class="img-fluid"
                             src="{% static 'plomLogo.png' %}"
                             style="max-width: 8rem" />
                    </a>
                    <button class="btn ms-auto border border-black"
                            type="button"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#sidebar">
                        <i class="bi bi-list"></i>
                    </button>
                </div>
                <!-- padding-start-4 b/c content was too close to navbar shadow -->
                <!-- 1.5rem is the bootstrap padding for 4 -->
                <div style="padding: 0rem 1.5rem">
                    <!-- Page heading -->
                    <h1 class="fw-lighter m-2">
                        {% block page_heading %}
                        {% endblock page_heading %}
                    </h1>
                    <p class="lead mb-2">
                        {% block page_subheading %}
                        {% endblock page_subheading %}
                    </p>
                    <!-- Main content -->
                    {% block main_content %}
                    {% endblock main_content %}
                </div>
            </div>
        </div>
    </body>
</html>
