<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Edith Coates
    Copyright (C) 2022-2023 Brennen Chiu
    Copyright (C) 2023 Colin B. Macdonald
    Copyright (C) 2023 Julian Lapenna
    Copyright (C) 2023 Andrew Rechnitzer
-->
{% load static %}
<ul class="nav flex-column mt-2">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">
            {% if request.user.first_name %}
                {{ request.user.first_name }}
            {% else %}
                {{ request.user.username.lower }}
            {% endif %}
        </a>
    </li>
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
        </li>
    </ul>
    {% if user_is_admin %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'signup_manager' %}">Sign Up Manager</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'password_reset' %}">Password Reset Link</a>
        </li>
    {% elif user_is_manager %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users' %}">Manage Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'prep_landing' %}">Create test</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'rubrics_landing' %}">Rubrics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tags_landing' %}">Tags</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'task_order_landing' %}">Task Ordering</a>
        </li>
        <li class="nav-item accordion accordion-flush">
            <a class="nav-link" href="#progress">Progress</a>
        </li>
        <div id="progress">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'progress_scan_overview' %}">Scan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'overview_landing' %}">Task overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'marking_info' %}">Marking Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'progress_user_info_home' %}">User Info</a>
                </li>
            </ul>
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'reassemble_pdfs' %}">Reassemble</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'reports_landing' %}">Reports</a>
        </li>
    {% elif user_is_scanner %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'scan_home' %}">Scan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'scan_summary' %}">Summary</a>
        </li>
    {% elif user_is_marker %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'progress_mark_home' %}">Marking progress</a>
        </li>
    {% endif %}
</ul>
