<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Andrew Rechnitzer
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "Progress/scan_base.html" %}
{% block main_card_content %}
    <div class="row">
        <h5>Discarded images: {{ number_of_discards }}</h5>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="overflow-auto" style="max-height:66vh;">
                        <table class="table table-striped table-sm">
                            <tr>
                                <th>Bundle</th>
                                <th>Order</th>
                                <th>Reason</th>
                                <th>Discarded image</th>
                                <th>Discard pk</th>
                            </tr>
                            {% for disc in discards %}
                                <tr>
                                    <td>{{ disc.bundle_name }}</td>
                                    <td>{{ disc.order }}</td>
                                    <td>{{ disc.reason }}</td>
                                    <td>
                                        <button hx-get="{% url 'progress_pushed_img_wrap' disc.image %}"
                                                hx-target="#discardImageHere"
                                                hx-replace="innerHTML"
                                                class="btn btn-outline-primary">view</button>
                                    </td>
                                    <td>{{ disc.discard_pk }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-2 border" id="pushedDiscardFragment">
            <h6>Discarded image</h6>
            <div style="height: 30vw;
                        width: 40vw;
                        justify-content: center;
                        display:flex;
                        align-items:center"
                 id="discardImageHere"></div>
        </div>
    </div>
{% endblock main_card_content %}
