<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Edith Coates
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% block title %}
    Create papers
{% endblock title %}
{% block page_heading %}
    Create test papers
{% endblock page_heading %}
{% block main_content %}
    <div class="d-grid gap-2">
        <div>
            <a class="btn btn-primary" href="{% url 'prep_landing' %}">Return to assessment preparation page</a>
        </div>
        <div class="card w-50">
            {% if is_populated %}
                <div class="card-body">
                    <h5 class="card-title">Papers created.</h5>
                    <p class="card-text">Ready to build test paper PDFs.</p>
                    {% if is_test_prepared %}
                        <a disabled>Preparation set as finished - cannot modify test papers any further.</a>
                    {% else %}
                        <a class="btn btn-danger" hx-delete="{% url 'create_papers' %}">Clear papers from database</a>
                    {% endif %}
                </div>
            {% else %}
                <div class="card-body">
                    <h5 class="card-title">Ready to create papers</h5>
                    <p class="card-text">The test will have:</p>
                    <ul>
                        <li>{{ n_papers }} test papers</li>
                        <li>{{ n_questions }} questions</li>
                        <li>{{ n_versions }} versions</li>
                        <li>{{ n_pages }} pages</li>
                    </ul>
                    <div id="progress_container">
                        <a class="btn btn-primary"
                           hx-post="{% url 'create_papers' %}"
                           hx-target="#progress_container">Create</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock main_content %}
