<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Edith Coates
-->
{% extends "base/base.html" %}
{% block title %}
    Create papers
{% endblock title %}
{% block page_heading %}
    View test source versions
{% endblock page_heading %}
{% block main_content %}
    <div class="d-grid gap-2">
        <div>
            <a class="btn btn-primary" href="{% url 'prep_landing' %}">Return to assessment preparation page</a>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    You have uploaded {{ number_test_sources_uploaded }} of {{ test_versions }} source pdfs
                    <i class="bi bi-check-circle text-success"></i>
                </h4>
                {% for version, test_source in uploaded_test_sources.items %}
                    <div class="row row-cols-auto mt-3">
                        <div class="p1 col">
                            <h5>Version {{ version }}:</h5>
                        </div>
                        <div class="p-1 col">
                            <a class="btn btn-success"
                               target="_blank"
                               href="{% url 'prep_source_upload' version %}">View</a>
                        </div>
                        <div class="p-1 col">
                            <form action="{% url 'prep_mock' version %}" target="_blank" method="post">
                                {% csrf_token %}
                                <input class="btn btn-primary" type="submit" value="Mock">
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main_content %}
