<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Divy Patel
    Copyright (C) 2023 Colin B. Macdonald
    Copyright (C) 2023 Julian Lapenna
-->
{% extends "base/base.html" %}
{% load static %}
{% block title %}
    Reports
{% endblock title %}
{% block page_heading %}
    Reports
{% endblock page_heading %}
{% block main_content %}
    <h3>Main Report</h3>
    <p>Download the report with basic information and analysis.</p>
    <form method="post" action="{% url 'report_download' %}">
        {% csrf_token %}
        <div class="row">
            <div>
                <button type="submit" class="btn btn-success" style="display: inline-block;">Download Report</button>
                <small style="display: inline-block;">(allow up to 20 seconds for it to generate and download)</small>
            </div>
        </div>
    </form>
    <h3 class="mt-5">Enhanced Report</h3>
    <p>Download the report with enriched analysis and insights.</p>
    <button type="button" class="btn btn-primary">Download Enhanced Report</button>
    <h3 class="mt-5">Analysis Scripts</h3>
    <p>Download the following data and scripts to reproduce the analysis and do some further analysis</p>
    <button type="button" class="btn btn-primary">Download JSON data</button>
    <button type="button" class="btn btn-primary">Download notebook scripts</button>
{% endblock main_content %}
