<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Divy Patel
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% load static %}
{% block title %}
    Rubric Info
{% endblock title %}
{% block page_heading %}
    Rubric Info
{% endblock page_heading %}
{% block main_content %}
    <p>Rubric ID: {{ rubric.key }}</p>
    <p>Kind: {{ rubric.kind }}</p>
    <p># used: TODO</p>
    {{ rubric_as_html|safe }}
    <br>
    <form action="{% url 'rubric_edit' rubric.key %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <h2 class="mt-5">Annotations</h2>
    <table class="table table-striped table-bordered sortable">
        <thead>
            <tr>
                <th>Paper</th>
                <th>Question</th>
                <th>Edition</th>
                <th>Username</th>
                <th>Version</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for annotation in annotations %}
                <tr>
                    <td>
                        <a href="{% url 'annotation_item' annotation.pk %}">{{ annotation.task.paper }}</a>
                    </td>
                    <td>{{ annotation.edition }}</td>
                    <td>{{ annotation.task.question_number }}</td>
                    <td>{{ annotation.user }}</td>
                    <td>{{ annotation.task.version }}</td>
                    <td>{{ annotation.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main_content %}
