<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022 Edith Coates
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "SpecCreator/base-spec-2col.html" %}
{% load static %}
{% block right_column %}
    <div class="container-fluid" x-data="{{ x_data }}">
        <form class="w-100"
              {% block form_action %}
              {% endblock form_action %}
              method="post">
            {% csrf_token %}
            {% block pre_cards %}
                <p>Select an ID page:</p>
            {% endblock pre_cards %}
            {% for e in form.non_field_errors %}<p class="text-danger">{{ e }}</p>{% endfor %}
            <!-- Container of card elements -->
            {% if pages %}
                <div class="row row-cols-auto">
                    {% for page in pages %}
                        <!-- Card element -->
                        <div class="col" style="margin-bottom: 24px;">
                            <div class="card shadow-sm is_pdf_thumbnail" @click="{{ page.at_click }}">
                                <img src="{% static page.thumbnail %}" class="img-fluid card-img" />
                                <div class="card-img-overlay d-flex">
                                    <div class="flex-column d-flex">
                                        <div style="height: 100%;"></div>
                                        {% block card_badge %}
                                        {% endblock card_badge %}
                                    </div>
                                    <div class="flex-grow-1">
                                        <h5 class="card-title text-secondary text-end">{{ forloop.counter }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No reference PDF uploaded yet.</p>
            {% endif %}
            <div>
                {% for f in form.hidden_fields %}{{ f }}{% endfor %}
            </div>
            <div>
                <a type="button"
                   class="btn btn-primary btn-lg"
                   {% block back_href %}
                   {% endblock back_href %}>Back</a>
                {% if pages %}
                    <input type="submit" class="btn btn-primary btn-lg float-end" value="Next">
                {% else %}
                    <input type="submit"
                           class="btn btn-primary btn-lg float-end"
                           value="Next"
                           disabled>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock right_column %}
