<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022 Edith Coates
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "SpecCreator/base-spec-2col.html" %}
{% load static %}
{% block title %}
    Create Specification
{% endblock title %}
{% block right_column %}
    <div class="container-fluid">
        <!-- Container of card elements -->
        <div class="row row-cols-auto">
            {% for page in pages %}
                <!-- Card element -->
                <div class="col" style="margin-bottom: 24px;" x-data="{selected: false}">
                    <div class="card shadow-sm is_pdf_thumbnail" @click="selected = !selected">
                        <img src="{% static page %}" class="img-fluid card-img" />
                        <div class="card-img-overlay d-flex">
                            <div class="flex-column d-flex">
                                <div style="height: 100%;"></div>
                                <span class="p-2 badge text-bg-primary" x-show="selected">Q1</span>
                            </div>
                            <div class="flex-grow-1"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock right_column %}
