<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Brennen Chiu
    Copyright (C) 2023 Andrew Rechnitzer
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% block title %}
    Plom - Mark Progress
{% endblock title %}
{% block page_heading %}
    Marking progress
{% endblock page_heading %}
{% block main_content %}
    <div>
        <p>
            <a class="btn btn-primary" href="{% url 'overview_landing' %}">Overview</a>
        </p>
    </div>
    <div class="container w-100">
        {% for qn in questions %}
            <div class="row">
                {% for vn in versions %}
                    <div class="col"
                         hx-trigger="load"
                         hx-get="{% url 'progress_mark_stats' qn vn %}"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock main_content %}
