<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Brennen Chiu
    Copyright (C) 2023 Andrew Rechnitzer
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% block title %}
    Identifying progress
{% endblock title %}
{% block page_heading %}
    Identifying progress
{% endblock page_heading %}
{% block main_content %}
    <div>
        <p>
            <a class="btn btn-primary" href="{% url 'overview_landing' %}">Overview</a>
        </p>
    </div>
    <div class="card mb-2 w-25">
        {% with dat=id_task_status_counts %}
            {% include "Progress/fragments/task_progress_bar.html" with total=all_task_count n_complete=dat|get_item:"Complete" n_todo=dat|get_item:"To Do" n_out=dat|get_item:"Out" %}
        {% endwith %}
    </div>
    <div class="row">
        <div class="col">
            <table class="table sortable">
                <thead>
                    <th>Paper</th>
                    <th>ID Page</th>
                    <th>Status</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </thead>
                {% for pn, data in id_task_info.items %}
                    <tr>
                        <td>{{ pn }}</td>
                        <td>
                            {% if data.idpageimage_pk %}
                                <button hx-get="id_img_wrap/{{ data.idpageimage_pk }}"
                                        hx-target="#imageHere"
                                        hx-replace="innerHTML"
                                        class="btn btn-outline-success">view</button>
                            {% else %}
                                No ID page
                            {% endif %}
                        </td>
                        <td>{{ data.status }}</td>
                        {% if data.status == "Complete" %}
                            <td>{{ data.student_id }}</td>
                            <td>{{ data.student_name }}</td>
                            <td>
                                <button class="btn btn-outline-danger"
                                        hx-delete="{% url 'clear_ID' pn %}"
                                        hx-confirm="Are you sure you wish to clear the ID for paper number {{ pn }}?">
                                    clear
                                </button>
                            </td>
                        {% else %}
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col">
            <div style="height: 45vw;
                        width: 45vw;
                        justify-content: center;
                        display:flex;
                        align-items:center;
                        position:sticky;
                        top: 0"
                 id="imageHere"></div>
        </div>
    </div>
    <!-- include this for tool-tips on the progress bar -->
    <script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl, {trigger : 'hover'})
  })
    </script>
{% endblock main_content %}
