<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Julian Lapenna
    Copyright (C) 2023 Divy Patel
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% load static %}
{% load custom_tags %}
{% block page_heading %}
    Marking Information - in process of being deprecated in favour of other pages
{% endblock page_heading %}
{% block main_content %}
    <div class="row">
        <div class="col">
            <table style="width: auto" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Question</th>
                        {% for i in n_questions %}<th scope="col" colspan="{{ n_versions|length }}">Q{{ i }}</th>{% endfor %}
                    </tr>
                    <tr>
                        <th scope="col">Version</th>
                        {% for i in n_questions %}
                            {% for j in n_versions %}<th scope="col">V{{ j }}</th>{% endfor %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td># of papers marked</td>
                        {% for q in marked_question_counts %}
                            {% for v in q %}<td>{{ v.0 }}/{{ v.1 }}</td>{% endfor %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <form method="post"
                  action="{% url 'marks_download' %}"
                  style="padding-right: 2%">
                {% csrf_token %}
                {% if all_marked %}
                    <p class="text-success" style="padding-right: 0.5%;">
                        All questions have a mark. Please confirm with your TAs that marking is complete.
                    </p>
                {% else %}
                    <p class="text-danger" style="padding-right: 0.5%">* * * Marking is not complete. * * *</p>
                {% endif %}
                {{ student_marks_form.as_p }}
                <button type="submit" class="btn btn-success">Download Grades</button>
            </form>
            <br>
            <p>Note: download does not include incomplete grading actions (i.e. ungraded questions, grading in progress, etc.)</p>
        </div>
        <div class="col">
            <table style="width: auto" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Time spent marking</th>
                        {% for i in n_questions %}<th scope="col">Question {{ i }}</th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total</td>
                        {% for time in total_times_spent %}<td>{{ time }}</td>{% endfor %}
                    </tr>
                    <tr>
                        <td>Average</td>
                        {% for time in average_times_spent %}<td>{{ time }}</td>{% endfor %}
                    </tr>
                    <tr>
                        <td>Standard Deviation</td>
                        {% for time in std_times_spent %}<td>{{ time }}</td>{% endfor %}
                    </tr>
                </tbody>
            </table>
            <form method="post"
                  action="{% url 'ta_info_download' %}"
                  style="padding-right: 2%">
                {% csrf_token %}
                {% if all_marked %}
                    <p class="text-success" style="padding-right: 0.5%;">
                        All questions have a mark. Please confirm with your TAs that marking is complete.
                    </p>
                {% else %}
                    <p class="text-danger" style="padding-right: 0.5%">* * * Marking is not complete. * * *</p>
                {% endif %}
                <button type="submit" class="btn btn-success">Download TA Marking Info</button>
            </form>
            <br>
            <p>Note: download does not include incomplete grading actions (i.e. ungraded questions, grading in progress, etc.)</p>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col">
            <h5>Estimates</h5>
            <p>Hours formula: &nbsp &nbsp &nbsp # of questions remaining * average time to mark</p>
        </div>
        <div class="col">
            <table style="width: auto"
                   class="table table-striped table-bordered sortable">
                <thead>
                    <tr>
                        <th scope="col">Estimate</th>
                        {% for i in n_questions %}<th scope="col">Question {{ i }}</th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hours remaining</td>
                        {% for time in hours_estimate %}<td>{{ time }}</td>{% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <br>
    <div>
        <p>
            In the table below,
            <span class="border border-dark bg-success text-white">&nbspgreen cells&nbsp</span> have received a mark,
            <span class="border border-dark bg-warning">&nbspyellow cells&nbsp</span> are waiting to be marked, and
            <span class="border border-dark bg-danger text-white">&nbspred cells&nbsp</span> are missing pages and cannot be marked.
        </p>
        <table style="width: auto;
                      text-align: center"
               class="table table-striped table-bordered sortable">
            <thead>
                <tr>
                    <th scope="col">Paper Number</th>
                    {% for i in n_questions %}<th scope="col">Question {{ i }}</th>{% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for paper_num, paper_tasks in papers.items %}
                    <tr>
                        <td>{{ paper_num }}</td>
                        {% if paper_tasks|length == n_questions|length %}
                            {% comment %}All tasks exist for paper{% endcomment %}
                            {% for question_num, question_dict in paper_tasks.items %}
                                {% if question_dict.student_mark is not None %}
                                    <td class="bg-success text-white">{{ question_dict.student_mark }}</td>
                                {% else %}
                                    <td class="bg-warning">Not marked</td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% comment %}Not all tasks exist for paper{% endcomment %}
                            {% for question_num in n_questions %}
                                {% with paper_tasks|get_item:question_num as task %}
                                    {% comment %}Equivalent to task = paper_tasks.get(question_num) where paper_tasks is a dict{% endcomment %}
                                    {% if task == None %}
                                        <td class="bg-danger text-white">Task missing</td>
                                    {% elif task.student_mark is not None %}
                                        <td class="bg-success text-white">{{ task.student_mark }}</td>
                                    {% else %}
                                        <td class="bg-warning">{{ task }}</td>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
                {% for p_key, p_val in papers.items %}
                    <tr>
                        <td>{{ p_key }}</td>
                        {% if not p_val %}
                            {% for i in n_questions %}<td>None</td>{% endfor %}
                        {% elif p_val|length == n_questions|length %}
                            {% comment %}Fully graded{% endcomment %}
                            {% for q_key, q_val in p_val.items %}<td>{{ q_val.student_mark }}</td>{% endfor %}
                        {% else %}
                            {% comment %}Partially graded{% endcomment %}
                            {% for i in n_questions %}
                                <td>
                                    {% with p_val|get_item:i as dict %}
                                        {% if dict %}
                                            {{ dict.student_mark }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    {% endwith %}
                                </td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <div id="grades_hist">{% include "Visualization/histogram.html" with data=grades_hist_data %}</div>
        <div id="corr_heatmap">{% include "Visualization/heat_map.html" with data=corr_heatmap_data %}</div>
    </div>
{% endblock main_content %}
